<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Skripsi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--base css styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/normalize/normalize.css') }}">


        <!--page specific css styles-->

        <!--flaty css styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaty.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaty-responsive.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.html') }}">

        <script src="{{ url_for('static', filename='assets/modernizr/modernizr-2.6.2.min.js') }}"></script>
    </head>